<body>
    <div class="form-container">
        <form [formGroup]="form" (ngSubmit)="ingresar()">
            <img src="../../../assets/Imagenes-Iconos/football.png" width="50%">
            <h1>Iniciar Sesión</h1>
            <mat-form-field class="ancho">
                <mat-label>Usuario</mat-label>
                <input matInput autocomplete="off" formControlName="usuario">
            </mat-form-field>
            <mat-form-field class="ancho">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput autocomplete="new-password" formControlName="contrasenia">
            </mat-form-field>
            <br>
            <button type="submit" class="ancho-button">Ingresar</button>
        </form>
    </div>
</body>