<body>
    <div class="menu">
        <nav class="nav-menu">
            <button mat-button routerLink="/home" [ngClass]="{'active': isActive('/home')}">Inicio</button>
            
            <button mat-button routerLink="/competencias" [ngClass]="{'active': isActive('/competencias')}">Competencias</button>
            
            <button mat-button routerLink="/fixture" [ngClass]="{'active': isActive('/fixture')}">Fixture</button>

            <button mat-button routerLink="/clasificacion" [ngClass]="{'active': isActive('/clasificacion')}">Tabla de Posiciones</button>

            <button mat-button routerLink="/equipos" [ngClass]="{'active': isActive('/equipos')}">Equipos</button>

            <button mat-button routerLink="/partidos" [ngClass]="{'active': isActive('/partidos')}">Partidos</button>

            <button mat-button (click)="logout()">Cerrar Sesión</button>
        </nav>
    </div>

    <div class="container">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>¡Bienvenido a mi página web de gestiones de competencias deportivas!</mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                
            </mat-card-content>
        </mat-card>
    </div>
</body>

